
  <h1 class="centereText fwTopmargin col-xs-12">All news</h1>
  <% @thenews.each do |news|%>
    <div class="col-xs-12">
      <div class="new_post_container white">
        <div class="contentIndent">
          <h4 class="new_post_title" style="margin-bottom: 8px;"><%= link_to news.title, news.url%></h4>
          <p> posted by <b> <%= news.user.username%> </b> at <%= localizedDate(news.created_at)%> <br> <b><%= link_to "comments: #{news.comments.count}", item_path(news)%></b></p>
        </div>
      </div>
    </div>
  <% end%>


<div id="pagers" class="bottom_nav">
  <span>Go to: </span>
  <%if !@prevpage.nil?%>
    <span><%= link_to "Prev Page", root_path(:p => @prevpage)%></span>
  <%end%>
  <%if !@nextpage.nil?%>
  <span><%= link_to "Previous News", root_path(:p => @prevpage)%></span>
    <span><%= link_to "More", root_path(:p => @nextpage) %></span>
  <% else %>
    <!-- <span>This is the last page</span> -->
  <%end%>
  <!-- <h3>Page: <%= @page%></h3> -->
</div>
